div {
  display: inline;
}

header {
  text-align: center;
}

footer {
  text-align: center;
}

span {
  display: block;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.contents-wrapper {
  display: flex;
  justify-content: space-between;
  height: 500px;
}

.contents {
  width: 100%;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  background-color: rgba(0,0,0,0.2);
  width: 100%;
  height: 100%;
}

.modal-contents {
  position: absolute;
  width: 200px;
  height: 200px;
  top: calc(50% - 100px);
  left: calc(50% - 100px);
  background-color: white;
}
